img {
    max-height: 75px;
}

.header {
    padding-top: 30px;
    width: 90%;
    position: relative;
    left: 5%;
}

.head-cont {
    width: 100%;
}

.head-left {
    color:#FFF;
}

.head-right {

}

.header-text {
    font-size: 4em;
    color:#FFF;
}

.header-subtext {
    padding-left: 5px;
}

.form-horizontal {
    margin-top: 50px;
}

.login-button {
    vertical-align: middle;
    display: block;
    width: 100%;
}

.login-button:hover {
    background-color: rgba(0, 0, 0, .2);
}

.login-button > span {
    position: relative;
    display: block;
    text-align: center;
    color: #FFF;
}

.signup-button {

}

.error {
    display: none;
    text-align: center;
}

.template {
    display: none;
}

.pagination-cont {
    text-align: center;
}

.btn-group {
    padding: 30px;
}

.tennants-container, .occupants-container {
    display: none;
}

.grant-button {
    margin-bottom: 5px;
    width: 80px;
}

.deny-button {
    width: 80px;
}